{
    "map": {
        "entities": "entities",
        "basic": "basic"
    },
    "filename": "README.md"
}
---
# {{capitalCase $.name}}

This is a [ProJor](https://projor.io) template, that generates a _TypeScript Node.JS Client Library_ for a _CRUD API_. See the [`.entities`](.projor/.entities) file on how to define the supported resources.

The API supported by this client is the same as the one provided by CRUD API Web Service templates, such as [template-spring-boot-crud](https://github.com/SIOCODE-Open/template-spring-boot-crud).

[See README inside .projor/ for template customization details and internals](.projor/README.md).

{{{$.description}}}

## License

This template is licensed under the [MIT License](LICENSE.md).

[ProJor](https://projor.io) is licensed under either the [ProJor Free License](https://license.projor.io) or the [ProJor Commercial License](https://license.projor.io).
